<div class="animated fadeIn" style=" margin-top: 100px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-address-card-o"></i> <strong>Perfil de usuario</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <p>
                      <strong>Nombre de usuario:</strong>
                      {{ currentUser.username }}
                  </p>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <p>
                      <strong>Apellido:</strong>
                      {{ currentUser.lastname }}
                  </p>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <p>
                     <strong>Nombre:</strong>
                      {{ currentUser.name }}
                  </p>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                  <p>
                    <strong>Rol:</strong>
                    {{ currentUser.role }}
                  </p>
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
