<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detalle Estudio realizado</strong>

                    <span *ngIf="currentStudy.state==2" class="badge badge-info float-right">Confirmado</span>

                </div>
                <div class="card-body">
                    <form>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label">
                                        <b>Usuario</b>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <p class="form-control-static">
                                            {{currentUser.username}}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label" >
                                        <b>Fecha</b>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">

                                        {{currentStudy.studyDate |date:"dd-MM-yyyy" }}

                                    </div>
                                </div>
                                <div class="form-group row"style="background-color: gainsboro;margin-right: 2px;">
                                    <label class="col-md-12 col-form-label" ><b>Estudio</b></label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        {{currentStudy.studieType.name}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label"><b>Equipo</b></label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        {{currentStudy.machine.name}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label"><b>Medico</b></label>
                                </div>
                                {{currentStudy.doctor.lastname}}, {{currentStudy.doctor.name}}
                                <div class="form-group row">
                                    <div class="col-md-12 ">

                                    </div>
                                </div>

                            </div>



                            <div class="col-md-6">


                                <div>
                                    <div class="row" style="background-color: gainsboro;margin-right: 2px;">
                                        <label class="col-md-6 col-form-label" >
                                            <b> Paciente</b>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col md-12">
                                            <label><b>DNI</b></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col md-12 form-group submit-form">
                                            {{currentStudy.idPatients.dni}}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col md-12 form-group submit-form">
                                                    <label class="col-form-label"><b>Nombre</b></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col md-12 form-group submit-form">
                                                    {{currentStudy.idPatients.name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col md-12 form-group submit-form">
                                                    <label class="col-form-label"><b>Apellido</b></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col md-12 form-group submit-form">
                                                    {{currentStudy.idPatients.lastname}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>





                                <div>
                                    <div class="row"style="background-color: gainsboro;margin-right: 2px;">
                                        <label class="col-md-8 col-form-label">
                                            <b>Obra Social </b>
                                        </label>
                                    </div>
                                    <div class=" row">
                                        <div class="col md-12 form-group submit-form">

                                            {{currentStudy.idHealthInsurance.name}}
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </form>

                </div>

                <div class="card-footer">
                    <button *ngIf="currentStudy.state == 1"
                            type="button" class="btn btn-danger" (click)="openModal(template)">
                        <i class="fa fa-trash-o"></i>
                        Borrar
                    </button>

                    <ng-template #template>
                        <div class="modal-body text-center">
                            <p>Desea borrar el estudio?</p>
                            <button type="button" class="btn btn-danger float-left" style="width:80px; "
                                    (click)="confirm()" > Aceptar </button>
                            <button type="button" class="btn btn-success float-right" style="width:80px; "
                                    (click)="decline()" > Cancelar </button>
                        </div>
                    </ng-template>

                    <button   *ngIf="currentStudy.state == 1"
                              class="btn btn-info float-right"(click)="confirmStudy()"><i class="fa fa-upload" ></i>
                        Confirmar
                    </button>

                    <button   *ngIf="currentStudy.state == 1"
                              class="btn btn-success float-right "(click)="editStudy()"
                              style="margin-right: 10px"
                    >
                        <i class="fa fa-pencil" ></i>
                        Modificar
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
