<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Estudios Realizados
        </div>
        <div class="card-body">
          <table  id="no-more-tables" class="table table-striped" data-show-columns="true"
                  data-mobile-responsive="true">

            <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Estudio</th>
              <th>Doctor</th>
              <th>Estado</th>
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let n of dataArray;let i = index">
            <tr *ngIf="n.state!=4">
              <td data-title="ID">{{n.id}}</td>
              <td data-title="Fecha">{{n.studyDate|date:"dd-MM-yyyy"}}</td>
              <td data-title="Estudio">{{n.studieType.name}}</td>
              <td data-title="Doctor">{{n.doctor.lastname}}, {{n.doctor.name}}</td>
              <td data-title="Estado">
                <span *ngIf="n.state==1" class="badge badge-warning">Pendiente</span>
                <span *ngIf="n.state==2" class="badge badge-info">Confirmado</span>
                <span *ngIf="n.state==3" class="badge badge-info">Finalizado</span>

              </td>
              <td data-title="Operaciones">
                <button type="reset" class="btn btn-sm btn-success btn-block" [routerLink]="['/studies/confirmstudy/', n.id]">
                  <i class="fa fa-folder-open-o "></i> Ver
                </button>
                <button  *ngIf="n.state == 1" type="reset" class="btn btn-sm btn-info btn-block" (click)="confirmStudy(n.id)">
                  <i class="fa fa-upload "></i> Confirmar
                </button>
                    <button *ngIf="n.state == 1"
                            type="button" class="btn btn-danger btn-sm btn-block" (click)="openModal(template)">
                        <i class="fa fa-trash-o"></i>
                        Borrar
                    </button>

                    <ng-template #template>
                        <div class="modal-body text-center">
                            <p>Desea borrar el estudio?</p>
                            <button type="button" class="btn btn-danger float-left" style="width:80px; "
                                    (click)="confirm(n.id)" > Aceptar </button>
                            <button type="button" class="btn btn-success float-right" style="width:80px; "
                                    (click)="decline()" > Cancelar </button>
                        </div>
                    </ng-template>


              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>



</div>
