<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Detalle de liquidación</strong>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label">
                                        <b>Tecnico</b>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <p class="form-control-static">
                                            {{currentUser.name}} {{currentUser.lastname}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label" >
                                        <b>Doctor</b>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        {{currentPayout.doctor.name}} {{currentPayout.doctor.lastname}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group row">
                                    <label class="col-md-12 col-form-label" >
                                        <b>Total liquidación</b>
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        ${{currentPayout.totalPrice}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table  id="no-more-tables" class="table " data-show-columns="true"
                    data-mobile-responsive="true">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Estudio</th>
                            <th>Paciente</th>
                            <th>Precio</th>



                        </tr>
                        </thead>
                        <tbody *ngFor="let n of dataArray;let i = index">

                        <tr *ngIf="n.studies.length > 0"
                        style="background-color: #73818f85;">

                            <td data-title="Obra Social">{{n.obraSocial.name}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$ {{n.precio_tech}}</td>
                        </tr>
                            <tr *ngFor="let m of n.studies;">

                                <td></td>
                                <td data-title="Fecha">{{m.studyDate |date:"dd-MM-yyyy"}}</td>
                                <td data-title="Estudio">{{m.studieType.name}}</td>

                                <td data-title="Paciente">{{m.idPatients.lastname}}, {{m.idPatients.name}}</td>
                                <td data-title="Precio ">$ {{m.techCurrentPrice}}</td>


                            </tr>

                        </tbody>
                        </table> 

            </div>
            </div>
        </div>
    </div>
</div>
