<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Usuarios
          <button id="no-label" class="btn btn-primary float-right" type="button" [routerLink]="['/setup/newuser']">
            <a>Nuevo &nbsp;</a>
            <i class="fa fa-user-plus fa-lg"></i>
          </button>
        </div>
        <div class="card-body">
          <table  id="no-more-tables"  class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rol</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let n of dataArray;let i = index">
              <tr>
                <td data-title="ID">{{n.id}}</td>
                <td data-title="Mail" >{{n.username}}</td>
                <td data-title="Nombre">{{n.name}}</td>
                <td data-title="Apellido">{{n.lastname}}</td>
                <td data-title="Rol">{{n.role}}</td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
