<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Grupos de Precios
        </div>
        <div class="card-body">
          <table id="no-more-tables" class="table table-striped" data-show-columns="true"
          data-mobile-responsive="true">
            <thead>
              <tr>
                <th>Estudio </th>
                <th>Precios Total</th>
                <th>Comision</th>
              </tr>
            </thead>
            <tbody *ngFor="let n of dataArray;let i = index">
              <tr>
                <td>{{n.studyType.name}}</td>
                <td> <input type='number' [(ngModel)]="n.totalPrice"/></td>
                <td> <input type='number' [(ngModel)]="n.techPrice"/></td>

              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-6">

              <button type="button" class="btn btn-block btn-light active "    (click)="volver()" >
                Volver
              </button>

            </div>
            <div class="col-6 text-right">
              <div class="form-group">
                <button class="btn btn-primary btn-block"
                        type="submit"

                        (click)="savePrices()">
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
