<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Listado de Grupos de Precios
          <button id="no-label" class="btn btn-primary float-right" type="button" [routerLink]="['/setup/newgroupprice']">
            <a>Nuevo &nbsp;</a>
            <i class="fa fa-pencil-square-o fa-lg"></i>
          </button>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Grupo de Precios</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let n of dataArray;let i = index">
              <tr>
                <td>{{n.id}}</td>
                <td>{{n.name}}</td>
                <td data-title="Operaciones">
                  <button id="no-label" class="btn btn-primary float-right" type="button" [routerLink]="['/setup/editgroupPrice/', n.id]">
                    <a>Precios Estudios  &nbsp;</a>
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </button>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
