<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Prepaga - Obra Social
          <button id="no-label" class="btn btn-primary float-right" type="button" [routerLink]="['/setup/newhealthins']">
                  <a>Nuevo &nbsp;</a>
          <i class="fa fa-pencil-square-o fa-lg"></i>
          </button>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>

                <th>Nombre </th>
                <th>Grupo Precios</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let n of dataArray;let i = index">
              <tr>
                <td>{{n.name}}</td>
                <td>{{n.groupPrice.name}}</td>
                <td><button id="no-label" class="btn btn-primary float-right" type="button" [routerLink]="['/setup/edithealthins', n.id]">
                  <a>Editar &nbsp;</a><i class="fa fa-pencil-square-o fa-lg"></i>
                </button> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
