<div class="animated fadeIn">


    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Agregar estudio realizado</strong>
        </div>
        <div class="card-body">

          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group row">
                  <label class="col-md-12 col-form-label">Usuario</label>
                   </div>
                  <div class="form-group row">

                  <div class="col-md-12">
                    <p class="form-control-static">{{currentUser.username}}</p>
                  </div>
                </div>
              <div class="form-group row">
                  <label class="col-md-12 col-form-label" for="date-input">Fecha</label>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                    <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-12 col-form-label" for="date-input"><b>Estudio</b></label>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                    <div id="selectStudy"  class="row" style=" display: contents">
                      <ng-select id="selectStudy" [items]="estudiosArray"
                                 [ngStyle]= "{width:'auto !important'}"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Seleccionar Estudio"
                                 [(ngModel)]="selectedStudyId">
                      </ng-select>
                    </div>


                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-md-12 col-form-label" for="date-input"><b>Equipo</b></label>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                    <div class="row" style=" display: contents">
                      <ng-select [items]="machineArray"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Seleccionar Equipo"
                                 [(ngModel)]="selectedMachineId">
                      </ng-select>
                    </div>


                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-12 col-form-label" for="date-input"><b>Medico</b></label>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                    <div class="row" style=" display: contents">
                      <ng-select [items]="doctorArray"
                                 [ngStyle]= "{width:'auto !important'}"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Seleccionar Medico"
                                 [(ngModel)]="selectedDoctorId">

                        <ng-template ng-label-tmp let-item="item">
                          <div>{{item.lastname}}, {{item.name}}</div>

                        </ng-template>
                      </ng-select>
                    </div>


                  </div>
              </div>


                </div>




            <div class="col-md-6">
              <div *ngIf="!newPatient" >
              <div class="form-group row"  >
                <label  class="col-md-6 col-form-label" for="date-input">Buscar Paciente</label>
                <div class="col-md-6">
                  <button id="no-label" class="btn btn-primary float-right" type="button" (click)="addPatient()">
                    <i class="fa fa-user-plus fa-lg"></i>
                  </button>
                </div>
              </div>
              <div class="row" style=" display: contents">
                  <ng-select [items]="patients"
                             bindLabel="dni"
                             bindValue="id"
                             placeholder="Seleccionar DNI"
                             [(ngModel)]="selectedPatientsId"

                             (change)="onChange($event)">
                  </ng-select>
              </div>
              <div class="form-group row">
                <label class="col-md-12 col-form-label"><b>DNI</b></label>
              </div>
              <div class="form-group row">
                <label class="col-md-6 " >
                  {{selectedDNI}}
                </label>
              </div>
              <div class="form-group row">
                <label class="col-md-6 col-form-label" ><b>Nombre</b></label>
                <label class="col-md-6 col-form-label" ><b>Apellido</b></label>
              </div>
              <div class="form-group row">
                <label class="col-md-6 " >{{selectedNAME}}</label>
                <label class="col-md-6 " >{{selectedLASTNAME}}</label>
              </div>
              </div>
              <div *ngIf="newPatient" >
                <div class="form-group row"  >
                  <label  class="col-md-6 col-form-label" for="date-input">Nuevo Paciente</label>

                </div>
              </div>
            </div>




            </div>




          </form>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-dark"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
  </div>


